################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ACTApp
/ACTApp/obj/Debug/net6.0/ACTApp.AssemblyInfo.cs
/ACTApp/Program.cs
/ACTApp/obj/Debug/net6.0/ACTApp.AssemblyInfoInputs.cache
